* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

@font-face {
  font-family: 'MBold';
  src: url(../fonts/Montserrat-ExtraBold.ttf); }

body {
  background-color: #808587; }

a {
  font-family: 'MBold'; }

header {
  color: #f0ffff; }
  header .background_co {
    background-color: #042743; }

a:hover {
  background-color: #DB0029; }

main .tarjetas {
  width: 1500px;
  align-items: center; }

footer {
  background-color: #042743;
  height: 100vh; }

.redes {
  width: 30px;
  height: 30px; }

.cont-index {
  display: flex;
  justify-content: center;
  align-items: center; }
  .cont-index .logo-crewone {
    display: flex;
    justify-content: center;
    width: 800px;
    height: 750px; }

.carousel-inner {
  height: 500px; }

.d-block {
  display: flex;
  justify-content: center;
  width: 200px; }
